@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-800 antialiased dark:text-white bg-blur-image;
  }

  html,
  body,
  #__next {
    @apply h-full w-full;
  }
}

@layer utilities {
  .bg-blur-image {
    background:
      linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)) center center / cover no-repeat,
      url(/assets/overlay.jpg) center center / cover no-repeat;
  }
}

@layer components {
  .btn-icon > svg {
    @apply h-5 w-5;
  }

  .glass-card {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 15px 26px rgba(29, 29, 29, 0.2);
    backdrop-filter: blur(50px);
  }
}

.qr-container > svg {
  width: 100%;
}

.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 75%) rgba(0, 0, 0, 0.24);
}
